.calculator{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.calculator input{
    box-sizing: border-box;
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: hsl(189, 41%, 97%);
    padding: 0 1rem 0 1rem;
}

.calculator button{
    height: 2.9rem;
    width: 100%;
    border-radius: 5px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border: none;
    font-size: 1.5rem;
}

.custom-input{
    text-align: center;
    color: hsl(183, 100%, 15%);
    font-size: 1.2rem;
    font-weight: bold;
}

.default{
    background-color: hsl(172, 67%, 45%) !important;
    color: hsl(183, 100%, 15%) !important;
}

.calculator-people-text{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

div input {
    text-align: right;
}


.number-people{
    background-image: url('./icon-person.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box;
    color: hsl(183, 100%, 15%);
    font-size: 1.2rem;
    font-weight: bold;
}

.bill-input{
    background-image: url('./icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box;
    color: hsl(183, 100%, 15%);
    font-size: 1.2rem;
    font-weight: bold;
}

.bill-input:focus{
    border-color: hsl(183, 100%, 15%);
}

#error-people{
    color: red;
    opacity: 0;
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; } 

@media only screen and (max-width: 600px) {
    .calculator{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
    }

    .custom-input{
        text-align: center;
        color: hsl(183, 100%, 15%);
        font-size: 0.7rem;
        font-weight: bold;
    }

    .calculator-people-text{
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: 0.9rem;
    }

}