.display{
    box-sizing: border-box;
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 15px;
    padding: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.display button{
    width: 100%;
    height: 3rem;
    background-color: hsl(172, 67%, 45%);
    border: none;
    border-radius: 10px;
    font-size: 1,5rem;
}

.display-screen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    color: hsl(172, 67%, 45%);
}

.display-total{
    font-size: 2.5rem;
}

.restart{
    font-size: 1.2rem;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .display{
        box-sizing: border-box;
        background-color: hsl(183, 100%, 15%);
        color: white;
        border-radius: 15px;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .display-total{
        font-size: 1rem;
    }
}