.display{
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;
    padding: 1rem;
    width: 100%;
}

.display button{
    width: 100%;
    height: 2rem;
}

.display-screen{
    display: flex;
    justify-content: space-between;
    align-items: center;
}