@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

button:hover{
  background-color:  hsl(186, 14%, 43%) !important;
}

body{
  background-color: hsl(185, 41%, 84%);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-text{
  margin-bottom: 4rem;
  color: hsl(183, 100%, 15%);
  letter-spacing: 10px;
}

.calculator-body{
  display: flex;
  align-items: center;
  background-color: white;
  box-sizing: content-box;
  width: 61.4%;
  padding: 4rem;
  border-radius: 15px;
  gap: 2rem
}

.white{
  color: white
}

@media only screen and (max-width: 600px) {
  .calculator-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-sizing: content-box;
    border-radius: 15px;
    gap: 2rem
  }

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
